<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biubiu.myblog.dao.TagDao">

    <resultMap id="Tag" type="com.biubiu.myblog.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <insert id="saveTag" parameterType="com.biubiu.myblog.entity.Tag">
        INSERT INTO t_tag
        VALUES(null,#{name})
    </insert>

    <update id="updateTagName" parameterType="com.biubiu.myblog.entity.Tag">
        UPDATE t_tag
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteTag" parameterType="Integer">
        DELETE FROM t_tag
        WHERE id = #{value}
    </delete>

    <select id="findTagById" parameterType="Integer" resultMap="Tag">
        SELECT id,name
        FROM t_tag
        WHERE id = #{value}
    </select>

    <select id="findTagByBlogId" parameterType="Integer" resultMap="Tag">
        SELECT t.id,t.name
        FROM blog_tag bt LEFT JOIN tag t on bt.id = t.id
        WHERE blog_id = #{value}
    </select>

    <delete id="deleteTagByBlogId" parameterType="Integer">
        DELETE FROM blog_tag
        WHERE blog_id = #{value}
    </delete>

    <delete id="deleteBlogTagByTagId" parameterType="Integer">
        DELETE FROM blog_tag
        WHERE id = #{value}
    </delete>

    <!-- 忽略大小写 -->
    <select id="findTagByTagName" parameterType="String" resultMap="Tag">
        SELECT id,name
        FROM t_tag
        WHERE LOWER(name) = LOWER(#{value})
    </select>

    <select id="findAll" resultMap="Tag">
        SELECT id,name
        FROM t_tag
    </select>

</mapper>